.header {
    min-height: 100vh;
    position: relative;
}

.header__top {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {

}

.header__content-images {
    padding-bottom: 50px;
    text-align: center;
}

.header__content-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.header__content-images:has(.color--blue.content-item--active)::before {
    background: linear-gradient(
        180deg, #CADBEB 0%,
        rgba(235, 235, 235, 0.00)
        100%
    );
}

.header__content-images:has(.color--red.content-item--active)::before {
    background: linear-gradient(
        180deg, #F3D6D1 0%,
        rgba(235, 235, 235, 0.00)
        100%
    );
}

.header__content-images:has(.color--black.content-item--active)::before {
    background: linear-gradient(
        180deg, #B6B6B6 0%,
        rgba(235, 235, 235, 0.00)
        100%
    );
}

.header__content-images:has(.color--green.content-item--active)::before {
    background: linear-gradient(
        180deg, #DDEAD9 0%,
        rgba(235, 235, 235, 0.00)
        100%
    );
}

.header__content-images:has(.color--white.content-item--active)::before {
    background: linear-gradient(
        180deg, #FAFAFA 0%,
        rgba(235, 235, 235, 0.00)
        100%
    );
}

.title {
    font-size: 210px;
    font-weight: 700;
    line-height: 120%;
    position: absolute;
    padding-top: 110px;
}

.title span {
    display: inline-block;
}

.title--pod {
    position: relative;
    z-index: -1;
}

.title--s {
    transform: translateY(60px);
}

.title--m {
    transform: translate(-55px, 275px);
}

.title--ax {
    position: relative;
    z-index: -1;
    transform: translate(-110px, 412px);
}