@media (max-width: 1469px) {
    .header__content-images img {
        max-width: 100%;
    }

    .title {
        font-size: 180px;
        transform: translate(129px, 29px);
    }
}

@media (max-width: 1349px) {
    .title {
        transform: none;
        font-size: 140px;
        padding-top: 20vh;
        left: 0;
        right: 0;
        text-align: center;
    }

    .title--pod {
        z-index: -1;
    }

    .title--s, .title--m, .title--ax {
        transform: none;
    }

    .title--m {
        padding-left: 20px;
    }
}

@media (max-width: 930px) {
    .title {
        position: relative;
        font-size: 100px;
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .choose-color__list {
        gap: 16px;
    }
    .choose-color, .composition {
        padding-bottom: 60px;
    }

    .case {
        padding: 60px 0px;
    }

    .energy__title {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .energy__num {
        font-size: 110px;
        margin-bottom: 20px;
    }

    .main__title {
        font-size: 36px;
    }

    .title {
        font-size: 58px;
    }
}

@media (max-width: 560px) {
    .choose-color {
        padding-bottom: 40px;
    }
    .choose-color__subtitle {
        margin-bottom: 40px;
    }

    .case {
        padding: 40px 0px;
    }

    .composition__inner {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .composition__inner-text p {
        width: 100%;
    }

    .menu__list {
        flex-wrap: wrap;
        gap: 20px 40px;
    }

    .menu__item-btn {
        margin-left: auto;
    }

    .menu__item-btn button  {
        width: 250px;
    }

    .menu__item:first-child {
        margin-left: auto;
    }

    .header__top {
        align-items: flex-start;
    }

    .logo__img {
        width: 35px;
    }
}

@media (max-width: 414px) {
    .main__title, .choose-color__title {
        font-size: 28px;
    }

    .energy__num {
        font-size: 92px;
    }

    .title {
        font-size: 50px;
    }
}