.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu__link {
    color: var(--black);
    font-weight: 700;
    position: relative;
}

.menu__link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background: var(--black);
    transition: var(--tr);
}

.menu__link:hover::after {
    width: 100%;
}